
.page-title{
    margin-top: auto;
    margin-left: 40px;
}
.education-item{
    padding-left: 20px;
    /* background: linear-gradient(180deg, #ffac11, #281b00); */
    width: 40vw;
    box-shadow: 4px 12px 10px rgb(1, 0, 27);
    margin-left: 10vw;
    border-radius: 5px;
}

.education-item:not([data-theme='dark'])::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background: var(--bg-gradient-light);
  }
  
  /* Dark theme background */
  .education-item[data-theme='dark']::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -10;
    background-image: var(--bg-grid-dark);
    background-size: 14px 24px;
  }





#school-desc-font{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#school-subject-section{
    font-weight: bold;
}

.school-subject{
    font-size: medium;
}

.aws-section{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    
}

.aws-inner-section{

    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    padding: 5px;
    margin: 5px;
}



.aws-inner-item{
    display: flex;

    justify-content: start;
    align-items: center;

    width: auto;
    margin: 5px;
    padding: 5px;
    
}
.certification{
    /* background: linear-gradient(180deg, #ffac11, #281b00); */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 30vw;
    
    box-shadow: 4px 12px 10px rgb(1, 0, 27);
    border-radius: 3px;
    padding: 20px;
    transition: transform 0.3s cubic-bezier(0.8, 0.9, 0.95, 1), 
              box-shadow 0.3s ease;
  will-change: transform;
}
.certification:hover{
    transform: translateY(-8px); /* Increase lift amount */
}


.certification:not([data-theme='dark'])::before {
    background: linear-gradient(180deg, #ffac11, #281b00);
    content: '';
    position: absolute;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background: var(--bg-gradient-light);
  }
  
  /* Dark theme background */
  .certification[data-theme='dark']::before {
    background: linear-gradient(180deg, #ffac11, #281b00);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -10;
    background-image: var(--bg-grid-dark);
    background-size: 14px 24px;
  }



.crt-desc{
    font-size: x-large;
}

.copy-button{
    background: linear-gradient(180deg, rgb(228, 228, 228), #1d1d1d);
    border-radius: 5px;
    margin-left: 5px;
}

.copy-button:hover{
    cursor: pointer;
}