.page-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .page-title {
    font-size: 2rem;
    color: #00ffff;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
    margin-bottom: 20px;
  }
  
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .project {
    background: rgba(8, 8, 24, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    text-align: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .project:hover {
    transform: scale(1.02);
  }
  
  .project h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .project p {
    color: #bbb;
    line-height: 1.6;
  }
  
  .tools {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .logo-tools {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.5));
  }
  
  @media (max-width: 768px) {
    .page-title {
      font-size: 1.8rem;
    }
  
    .project {
      padding: 19px;
      padding-top: 20%;
    }
  .projects-container {
      gap: 15px;
      padding-top: 20px;
      padding-bottom: 60px;
    }
    .logo-tools {
      width: 35px;
      height: 35px;
    }
  }
  