.container {

  min-height: 90vh; /* Use full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding: 10px;
  border: dotted 2px white;
  margin:  0px; /* Ensure horizontal centering */
}
.page-container {
  border: double 1px rgb(182, 0, 30);
}