.container {

  min-height: 90vh; /* Use full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  /* align-items: center;  */
  /* padding: 10px; */
  margin:  0px; /* Ensure horizontal centering */
}

.footer-logos{
  max-width: 2vw;
}
#linkedin-logo{
  max-width: 1.5vw;
}
#linkedin-text{
  padding-top: 8px;
}
.footer-div{
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  gap: 3vw;
}
{/* #linkedin-logo{
  max-width: 1.5vw;
} */}