:root {
  /* Light theme */
  --bg-primary: #d8eeff;
  --bg-primary-lower: rgb(55, 58, 60);
  --text-primary: #000d1a;
  --nav-bg: #3c4f62;
  font-family: 'Courier New', Courier, monospace;
}

[data-theme='dark'] {
  /* Dark theme */
  --bg-primary: #0066ec;
  --text-primary: #f8ffff;
  --nav-bg: #001224;
  --bg-primary-lower: rgb(0, 22, 81);
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* Light theme background */
body:not([data-theme='dark'])::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background: linear-gradient(155deg, var(--bg-primary) 20%, var(--bg-primary-lower) 80%);
}

/* Dark theme background */
body[data-theme='dark']::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -10;
  background-image: var(--bg-grid-dark);
  background-size: 14px 24px;
}

body[data-theme='dark']::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10%;
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  z-index: -9;
  background: var(--bg-radial-dark);
  margin: 0 auto;
}

.certificate-image {
  max-width: 7vw;
  height: auto;
}


